<h1>Create a New Item</h1>

<form action="/items" method="post">
    <label>Item Name</label>
    <input type="text" id="item_name" name="item[name]">

    <label>Item Price $</label>
    <input type="number" id="item_name" name="item[price]">

    <input type="submit" value="Create">
</form>